<div class="login_top">
  <div class="logo"><b>NoteSE</b></div>

  <a class ="top_home" href="index.html">Home</a>
 </div>
 <form class="form" [formGroup]="form"   action="/" method="post" id="form">
        <h1 class="login_text"><b>Account</b></h1>
<!--        <a class="register_link" href="register.html"> <b>Register</b></a>-->
        <div class="form_inner">
         <label>
          <input ngModel #email   formControlName="email" placeholder="Confirm Email" class = "input" type="email" id="login_email" name="email" required="">
         </label>
         <label>
          <input ngModel  name="password" formControlName="password" #password placeholder="Confirm Password" class="input" type="password" id ="login_password" required="" minlength="4">
         </label>
          <label for="nickname">
         <input ngModel #nickname formControlName="nickname" name="nickname" placeholder="Nickname" class = "input" type="text" id="nickname"  required ="" >
        </label>
        <label for="firstname">
         <input   #firstname formControlName="firstname" placeholder="First Name" class = "input" type="text" id="firstname" name="firstname" required="">
        </label>
        <label  for="lastname">
         <input   #lastname formControlName="lastname" placeholder="Last Name" class = "input" type="text" id="lastname" name="lastname" required ="">
        </label>
        <label for="newemail">
         <input  #newemail formControlName="newemail"  placeholder="New Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class = "input" type="newemail" id="newemail" name="newemail" required="">
        </label>
        <label for="newpassword">
         <input  formControlName="newpassword" #newpassword required minlength="4"   placeholder="New Password" class="input" type="password" name = "newpassword" id ="newpassword"  >
        </label>


        <button *ngIf="email.checkValidity() && password.checkValidity() " class="btn_2" id = "btn_2" (click)="onsubmit()" name = "btn_2" type="submit">Delete</button>

        <button *ngIf="email.checkValidity() && password.checkValidity() " class="btn_3" id = "btn_3" (click)="onsubmit2()" name = "btn_3" type="submit">Change</button>

<!--p id = "error_message" class="error_message" *ngIf="!email.checkValidity() && !email.defaultValue">Not valid email&ndash;&gt;-->
<!--           <p id = "error_message_3"  class="error_message " *ngIf="!password.checkValidity() && !password.defaultValue">Password min length 4-->
<!--            <p  id="error_message_4"  class="error_message " >-->

        </div>


 </form>
