<div class="login_top">
  <div class="logo"><b>NoteSE</b></div>

  <a class ="top_home" href="index.html">Home</a>
 </div>
 <form class="form" [formGroup]="form" (submit)="onsubmit()"  action="/" method="post" id="form">
        <h1 class="login_text"><b>Login</b></h1>
        <a class="register_link" href="register.html"> <b>Register</b></a>
        <div class="form_inner">
         <label>
          <input ngModel #email formControlName="email" placeholder="Email" class = "input" type="email" id="login_email" name="email" required="">
         </label>
         <label>
          <input ngModel name="password" formControlName="password" #password placeholder="Password" class="input" type="password" id ="login_password" required="" minlength="4">
         </label>
        <button *ngIf="email.checkValidity() && password.checkValidity() " class="btn_2" id = "btn_2" name = "btn_2" type="submit">Login</button>
           <p id = "error_message" class="error_message" *ngIf="!email.checkValidity() && !email.defaultValue">Not valid email
           <p id = "error_message_3"  class="error_message " *ngIf="!password.checkValidity() && !password.defaultValue">Password min length 4
<!--            <p  id="error_message_4"  class="error_message " >-->
        </div>


 </form>

