<div class="register_top">
    <div class="logo"><b>NoteSE</b></div>

  <a class ="top_home" routerLink= "">Home</a>
 </div>
 <div class="main_form">

   <form class="form" [formGroup]="form" action="/" method="post" id="form" (submit)="onsubmit()">

    <h1 class="register_text"><b>Register</b></h1>
      <a class="login_link" routerLink="/login"> <b>Login</b></a>
      <div class="form_inner">
         <label for="nickname">
         <input ngModel #nickname formControlName="nickname" name="nickname" placeholder="Nickname" class = "input" type="text" id="nickname"  required ="" >
        </label>
        <label for="firstname">
         <input   #firstname formControlName="firstname" placeholder="First Name" class = "input" type="text" id="firstname" name="firstname" required="">
        </label>
        <label  for="lastname">
         <input   #lastname formControlName="lastname" placeholder="Last Name" class = "input" type="text" id="lastname" name="lastname" required ="">
        </label>
        <label for="email">
         <input  #email formControlName="email"  placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class = "input" type="email" id="email" name="email" required="">
        </label>
        <label for="password">
         <input  formControlName="password" #password required minlength="4"   placeholder="Password" class="input" type="password" name = "password" id ="password"  >
        </label>
        <label for="rep_password">
         <input    #rep_password placeholder="Repeat Password" class="input" name = "rep_password" type="password" id ="rep_password" required minlength="4">
        </label>
        <button  *ngIf=" nickname.checkValidity() &&  !firstname.defaultValue &&  lastname.checkValidity() &&
                 email.checkValidity() &&  !lastname.defaultValue  &&  !email.defaultValue && rep_password.value == password.value &&
( password.checkValidity()) && (rep_password.checkValidity() )" class="btn_2"  id = "btn" name = "btn" type="submit" >Register
        </button>

        <p id = "error_message" class="error_message" *ngIf="!nickname.checkValidity() && !nickname.defaultValue">Not valid nickname
        <p id = "error_message_2" class="error_message" *ngIf="!firstname.checkValidity() && !firstname.defaultValue">Not valid firstname
        <p id = "error_message_3" class="error_message" *ngIf="!lastname.checkValidity() && !lastname.defaultValue">Not valid lastname
        <p id = "error_message_4" class="error_message" *ngIf="!email.checkValidity() && !lastname.defaultValue">Not valid email
        <p id = "error_message_5" class="error_message " *ngIf="(!password.checkValidity()) || (!rep_password.checkValidity())">Not valid password
        <p id = "error_message_6" class="error_message " *ngIf="password.value!=rep_password.value">Not Matching

        </p>
      </div>
 </form>
</div>
